<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Platforms</h2>
    <i class="devicon-amazonwebservices-original colored"></i>
    <i class="devicon-nginx-original-wordmark colored"></i>
    <i class="devicon-linux-plain"></i>
    <p>{{site.platforms}}</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-cplusplus-line colored"></i>
    <p>{{site.code}}</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <p>{{site.tools}}</p>
  </div>
</div>