<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" target="_blank" href="mailto:{{site.email}}?Subject=WebSite%20Feedback"><i
          class="icon fa fa-envelope"></i></a>
      <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{site.instagram_username}}"><i
          class="icon fa fa-instagram" aria-hidden="true"></i></a>
      <a aria-label="My Spotify" target="_blank" href="https://open.spotify.com/user/{{site.spotify_username}}"><i
          class="icon fa fa-spotify" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i
          class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
      <a class="link" target="_blank"
        href="https://drive.google.com/file/d/1dk5PiwSCEO3giZGFwaBw6JffGT4uExS5/view?usp=sharing">Resume</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>