<div class="user-details">
  <h1> Projects </h1>
</div>
<br>
<hr style="border: solid #000 1px;" width=90%><br>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/images/IA_Currency_Project.jpg" | prepend: site.baseurl }}" style="width: auto;" />
  </div>
  <div class="contents">
    <h3> Currency Recognition System </h3>
    <ul>
      <li> Python, NumPy, CV2 </li>
      <li> Microsoft Azure </li>
    </ul>
    <p>Recognizing different currencies from different countries and their respective denominations with an authenticity
      checking if an Indian currency note is fake or real.</p>
    <a class="project-link" href="https://github.com/vedant15188/IIITD-IA-Project" target="_blank">Check it out</a>
  </div>
</div>
<br>
<hr style="border: solid #000 1px;" width=90%><br>
<div class=" user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/images/AMPS_Project.PNG" | prepend: site.baseurl }}" style="width: auto;" />
  </div>
  <div class="contents-right">
    <h3> AMPS Design </h3>
    <ul>
      <li> MATLAB </li>
      <li> Google Maps API </li>
    </ul>
    <p>Cellular planning of AMPS (1G) mobile system for Delhi using MATLAB, calculating cluster size, number of
      clusters according to a realistic samples of demographic data (Population of different Zones in Delhi, Area of
      each zone)</p>
    <a class="project-link" href="https://github.com/vedant15188/IIITD-AMPS-Project" target="_blank">Check it out</a>
  </div>
</div>
<br>
<hr style="border: solid #000 1px;" width=90%><br>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/images/Selenium.gif" | prepend: site.baseurl }}" style="width: auto;" />
  </div>
  <div class="contents">
    <h3> Google Forms Autofill Bot </h3>
    <ul>
      <li> Python </li>
      <li> Selenium </li>
      <li> Docker, Kubernetes </li>
      <li> AWS EC2 </li>
    </ul>
    <p>Python script to read table from HTML, filter and save it on a csv and run selenium browser tests in different
      platforms and different tools as mentioned above</p>
    <a class="project-link" href="https://github.com/vedant15188/GoogleFormsBot">Check it out</a>
  </div>
</div>
<br>
<hr style="border: solid #000 1px;" width=90%><br>
<div class="user-projects">
  <div class="images-right">
    <img alt="Jenkins " src="/images/Jenkins-Maven-Terraform.png" style="width: auto;" />
  </div>
  <div class="contents">
    <h3> Jenkins Maven Terraform </h3>
    <ul>
      <li> AWS ECS/ECR </li>
      <li> Jenkins </li>
      <li> Docker </li>
      <li> Terraform </li>
    </ul>
    <p>This project has a jenkins groovy pipeline to deploy a Maven WebApp running on a Tomcat server within a
      Docker container. I've used AWS ECR to store my custom tomcat image, ECS cluster along with FARGATE service to
      host the service.
    </p>
    <a class="project-link" href="https://github.com/vedant15188/Jenkins-Maven-Terraform">Check it out</a>
  </div>
</div>
<br>
<hr style="border: solid #000 1px;" width=90%><br>